* {
    margin: 0;
    padding: 0;
    font-family: "piazzola", serif;
}

body {
    height: 100vh;
    /* display: flex;
    flex-direction: column; */

}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

/* Navbar Start */
.navbar {
    color: #fff;
    background-color: var(--main-bg);
    padding: 0.3rem 0;
}

.navbar li {
    margin-left: 0rem;
}

.navbar a {
    color: #201f1f;
    font-size: 1.2rem;
    font-weight: 800;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler {
    background-color: white;
}

.login-img {
    width: 30px;
    height: auto;
    border-radius: 2rem;
}

/* Navbar End */

/* Main Start */
/* Div One Start */
.main-div-one {
    background-color: #fcf6f6;
    /* margin: 1rem 1rem; */
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.rating-text {
    background-color: green;
    color: #fff;
    padding: 2px;
    border-radius: 3px;
}

.rating-icon {
    color: rgb(228, 228, 23);
}

.location-icon {
    color: #807b7b;
}

.shop-img {
    width: 100%;
    border-radius: 1rem;
}

.google-rate {
    color: #ad973f;
    font-size: larger;
}

.div-card-img {
    width: 15%;
    border-radius: 2rem;
}

/* Div One End */

/* Div Two Start */

.main-div-two {
    background-color: #fcf6f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.custom-carousel {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 1px;
    /* overflow-x: hidden; */
}

.custom-carousel .item {
    display: inline-block;
    margin-right: 12px;
    white-space: normal;
    margin-bottom: 10px;
}

.brand-img,
.brand-logo {
    width: 100px;
    height: 80px;
    background-color: #fcf6f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 1rem;
}

/* .brand-logo {
    width: 80px;
    height: 80px;
} */

.card-text {
    font-size: 1rem;
    text-align: center;
}

/* Div Two End */

/* Div three Start */
.main-div-three {
    background-color: #fcf6f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.box-all {
    width: 190px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    margin: 1rem;
    border-radius: 1rem;
    padding-top: 1rem;
    text-align: center;
}

/* Div Three End */

/* Div Four Start */

.card-box-all {
    background-color: #fcf6f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);

}

/* Div Four End */

/* Div Five Start */
.anker-tag {
    text-decoration: none;
    color: #807b7b;
}

/* Div Five End */

/* Div Six Start */
.main-div-six {
    background-color: #fcf6f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.yes-sing-img {
    width: 40px;
}

/* Div Six End */

/* Div Seven Start */
.main-div-seven {
    background-color: #FFEAAA;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17), 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.input-box {
    width: 100%;
    margin-left: 20px;
}
/* Div Seven End */

/* Main End */

/* Footer Start */
.footer-img {
    padding-left: 0rem;
}

div p a {
    text-decoration: none;
    color: gray;
}

.copy-right-text {
    text-align: center;
    padding-bottom: 1rem;
}

/* Footer Start */